.elementor-kit-2133{--e-global-color-primary:#06003F;--e-global-color-secondary:#54595F;--e-global-color-text:#5B4F70;--e-global-color-accent:#61CE70;--e-global-color-a04a43f:#6633FF;--e-global-color-0ff009a:#06003F;--e-global-color-61ae1f9:#9F7CFF;--e-global-color-4334c85:#FFFFFF;--e-global-color-49ba289:#27006B;--e-global-color-f697375:#4100B2;--e-global-color-0668127:#0A0068;--e-global-typography-primary-font-family:"Mark Bold";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Mark Medium";--e-global-typography-text-font-size:20px;--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-kit-2133 p{margin-bottom:20px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:80vw;}.e-con{--container-max-width:80vw;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-2133 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mark Bold';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../fonts/Mark-Bold.eot');
	src: url('../fonts/Mark-Bold.eot#iefix') format('embedded-opentype'),
		url('../fonts/Mark-Bold.woff2') format('woff2'),
		url('../fonts/Mark-Bold.woff') format('woff'),
		url('../fonts/Mark-Bold.ttf') format('truetype'),
		url('../images/Mark-Bold.svg#MarkBold') format('svg');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mark Medium';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/Mark-Medium.eot');
	src: url('../fonts/Mark-Medium.eot#iefix') format('embedded-opentype'),
		url('../fonts/Mark-Medium.woff2') format('woff2'),
		url('../fonts/Mark-Medium.woff') format('woff'),
		url('../fonts/Mark-Medium.ttf') format('truetype'),
		url('../images/Mark-Medium.svg#MarkMedium') format('svg');
}
/* End Custom Fonts CSS */