.elementor-2589 .elementor-element.elementor-element-68f2db3:not(.elementor-motion-effects-element-type-background), .elementor-2589 .elementor-element.elementor-element-68f2db3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-68f2db3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-68f2db3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-80660a1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2589 .elementor-element.elementor-element-80660a1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2589 .elementor-element.elementor-element-80660a1.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-2589 .elementor-element.elementor-element-8ed66f1 {
    text-align: center;
}

.elementor-2589 .elementor-element.elementor-element-8ed66f1 img {
    width: 70%;
}

.elementor-2589 .elementor-element.elementor-element-bc62281 {
    text-align: center;
}

.elementor-2589 .elementor-element.elementor-element-bc62281 .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Medium", Sans-serif;
    font-size: 3.75em;
    font-weight: 400;
    letter-spacing: -1px;
}

.elementor-2589 .elementor-element.elementor-element-bc62281 > .elementor-widget-container {
    padding: 0% 10% 0% 10%;
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-eb5ddd0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2589 .elementor-element.elementor-element-eb5ddd0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2589 .elementor-element.elementor-element-eb5ddd0 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-eb5ddd0 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-eb5ddd0 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2589 .elementor-element.elementor-element-5524ca2 > .elementor-widget-container {
    margin: 20px 0px 20px 0px;
    padding: 0% 015% 0% 0%;
}

.elementor-2589 .elementor-element.elementor-element-8cefc1f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2589 .elementor-element.elementor-element-8cefc1f:not(.elementor-motion-effects-element-type-background), .elementor-2589 .elementor-element.elementor-element-8cefc1f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-a04a43f);
}

.elementor-2589 .elementor-element.elementor-element-8cefc1f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-2589 .elementor-element.elementor-element-8cefc1f > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2589 .elementor-element.elementor-element-40028e7 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-2589 .elementor-element.elementor-element-605a5e2 > .elementor-element-populated {
    padding: 0% 10% 0% 10%;
}

.elementor-2589 .elementor-element.elementor-element-9499e46 .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Medium", Sans-serif;
    font-size: 2.2em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-b74a67f:not(.elementor-motion-effects-element-type-background), .elementor-2589 .elementor-element.elementor-element-b74a67f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-b74a67f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-2589 .elementor-element.elementor-element-b74a67f > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2589 .elementor-element.elementor-element-e56057e .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
}

.elementor-2589 .elementor-element.elementor-element-e56057e > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-c7a9c52 {
    padding: 100px 0px 100px 0px;
}

.elementor-2589 .elementor-element.elementor-element-171cebc .elementor-heading-title {
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-2589 .elementor-element.elementor-element-1c3dce2 .elementor-heading-title {
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-2589 .elementor-element.elementor-element-c5e6fee .elementor-heading-title {
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-2589 .elementor-element.elementor-element-fd6aeb6 {
    padding: 83px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-b85d1dc > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-04a917d {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-04a917d img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-04a917d > .elementor-widget-container {
    margin: 0px 0px 43px 0px;
    padding: 0px 0px 6px 0px;
}

.elementor-2589 .elementor-element.elementor-element-1f7df76 .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-1f7df76 > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-c419111 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-319d2e9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-794a3f3 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-794a3f3 img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-794a3f3 > .elementor-widget-container {
    margin: 0px 0px 43px 0px;
}

.elementor-2589 .elementor-element.elementor-element-f024317 .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-f024317 > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-adcee84 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-1a798fe > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-9320fa3 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-9320fa3 img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-9320fa3 > .elementor-widget-container {
    margin: 0px 0px 43px 0px;
}

.elementor-2589 .elementor-element.elementor-element-896fec0 .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-896fec0 > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-1fe9520 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-917a14c {
    padding: 83px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-8403fb1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-5fde824 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-5fde824 img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-5fde824 > .elementor-widget-container {
    margin: 0px 0px 37px 0px;
}

.elementor-2589 .elementor-element.elementor-element-0e95e9a .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-0e95e9a > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-9750398 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-6b44819 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-73a8f13 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-73a8f13 img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-73a8f13 > .elementor-widget-container {
    margin: 0px 0px 43px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-f32533d .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-f32533d > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-027d670 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-263bf5a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2589 .elementor-element.elementor-element-25eb620 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-25eb620 img {
    width: 80px;
}

.elementor-2589 .elementor-element.elementor-element-25eb620 > .elementor-widget-container {
    margin: 0px 0px 22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-3945927 .elementor-heading-title {
    color: var(--e-global-color-a04a43f);
    font-family: "Mark Bold", Sans-serif;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.08px;
}

.elementor-2589 .elementor-element.elementor-element-3945927 > .elementor-widget-container {
    padding: 0px 20px 25px 0px;
}

.elementor-2589 .elementor-element.elementor-element-9a3e210 {
    color: #5B4F70;
    font-family: "Reader Regular", Sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.elementor-2589 .elementor-element.elementor-element-76607ba:not(.elementor-motion-effects-element-type-background), .elementor-2589 .elementor-element.elementor-element-76607ba > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-a04a43f);
}

.elementor-2589 .elementor-element.elementor-element-76607ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-2589 .elementor-element.elementor-element-76607ba > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2589 .elementor-element.elementor-element-305dfcc .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
}

.elementor-2589 .elementor-element.elementor-element-305dfcc > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2589 .elementor-element.elementor-element-51eb8e2 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-2589 .elementor-element.elementor-element-65e51b9 {
    text-align: center;
}

.elementor-2589 .elementor-element.elementor-element-65e51b9 .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Medium", Sans-serif;
    font-size: 2.125em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-1f9c3b0 .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-1f9c3b0 .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-1f9c3b0 .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-1f9c3b0 .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-1f9c3b0 .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

.elementor-2589 .elementor-element.elementor-element-12b0b7c .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-2589 .elementor-element.elementor-element-3617a31 {
    text-align: center;
}

.elementor-2589 .elementor-element.elementor-element-3617a31 .elementor-heading-title {
    color: var(--e-global-color-4334c85);
    font-family: "Mark Medium", Sans-serif;
    font-size: 2.125em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-d343411 .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-d343411 .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-d343411 .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-d343411 .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-d343411 .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

.elementor-2589 .elementor-element.elementor-element-d5f8588:not(.elementor-motion-effects-element-type-background), .elementor-2589 .elementor-element.elementor-element-d5f8588 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-4334c85);
}

.elementor-2589 .elementor-element.elementor-element-d5f8588 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-2589 .elementor-element.elementor-element-d5f8588 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2589 .elementor-element.elementor-element-c417993 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Mark Bold", Sans-serif;
    font-size: 3.5em;
    font-weight: 600;
}

.elementor-2589 .elementor-element.elementor-element-c417993 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-c05ee58.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-c05ee58.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-d9d6309 img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-f9de43c {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-f9de43c .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Mark Medium", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-aaeac91 .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-aaeac91 .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-aaeac91 .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-aaeac91 .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-aaeac91 .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-a98d47d.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-a98d47d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-09c67c9 img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-f8a108b {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-f8a108b .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Mark Medium", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-37c42d8 .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-37c42d8 .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-37c42d8 .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-37c42d8 .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-37c42d8 .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-c2d816f.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-c2d816f.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-699fa49 img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-4d52107 {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-4d52107 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Mark Medium", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-baf5a08 .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-baf5a08 .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-baf5a08 .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-baf5a08 .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-baf5a08 .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

.elementor-bc-flex-widget .elementor-2589 .elementor-element.elementor-element-5770762.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-5770762.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-2589 .elementor-element.elementor-element-9f26d69 img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-adb022c {
    text-align: left;
}

.elementor-2589 .elementor-element.elementor-element-adb022c .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Mark Medium", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.elementor-2589 .elementor-element.elementor-element-561adcc .elementor-button {
    font-family: "Mark Bold", Sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: var(--e-global-color-4334c85);
    color: var(--e-global-color-4334c85);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 26px 15px 26px;
}

.elementor-2589 .elementor-element.elementor-element-561adcc .elementor-button:hover, .elementor-2589 .elementor-element.elementor-element-561adcc .elementor-button:focus {
    color: var(--e-global-color-61ae1f9);
    background-color: var(--e-global-color-primary);
}

.elementor-2589 .elementor-element.elementor-element-561adcc .elementor-button:hover svg, .elementor-2589 .elementor-element.elementor-element-561adcc .elementor-button:focus svg {
    fill: var(--e-global-color-61ae1f9);
}

@media (min-width: 768px) {
    .elementor-2589 .elementor-element.elementor-element-80660a1 {
        width: 50%;
    }

    .elementor-2589 .elementor-element.elementor-element-eb5ddd0 {
        width: 50%;
    }

    .elementor-2589 .elementor-element.elementor-element-13c0c80 {
        width: 64.988%;
    }

    .elementor-2589 .elementor-element.elementor-element-605a5e2 {
        width: 34.925%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-2589 .elementor-element.elementor-element-13c0c80 {
        width: 60%;
    }

    .elementor-2589 .elementor-element.elementor-element-605a5e2 {
        width: 40%;
    }
}

@media (max-width: 1366px) {
    .elementor-2589 .elementor-element.elementor-element-8ed66f1 img {
        width: 90%;
    }

    .elementor-2589 .elementor-element.elementor-element-5524ca2 img {
        width: 83%;
    }

    .elementor-2589 .elementor-element.elementor-element-5524ca2 > .elementor-widget-container {
        padding: 0% 06% 0% 0%;
    }
}

@media (max-width: 1200px) {
    .elementor-2589 .elementor-element.elementor-element-8ed66f1 img {
        width: 90%;
    }

    .elementor-2589 .elementor-element.elementor-element-bc62281 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-2589 .elementor-element.elementor-element-5524ca2 img {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .elementor-2589 .elementor-element.elementor-element-bc62281 .elementor-heading-title {
        font-size: 2.4em;
    }

    .elementor-2589 .elementor-element.elementor-element-605a5e2 > .elementor-element-populated {
        padding: 0% 0% 0% 10%;
    }

    .elementor-2589 .elementor-element.elementor-element-9499e46 .elementor-heading-title {
        font-size: 1.8em;
    }
}

/* Start Custom Fonts CSS */
@font-face {
    font-family: 'Mark Medium';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.eot');
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.woff2') format('woff2'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.woff') format('woff'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.ttf') format('truetype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Medium.svg#MarkMedium') format('svg');
}

/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */
@font-face {
    font-family: 'Mark Bold';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.eot');
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.woff2') format('woff2'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.woff') format('woff'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.ttf') format('truetype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Mark-Bold.svg#MarkBold') format('svg');
}

/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */
@font-face {
    font-family: 'Reader Regular';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.eot');
    src: url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.woff2') format('woff2'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.woff') format('woff'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.ttf') format('truetype'),
    url('https://www.rebound-tech.com/wp-content/themes/rebound/fonts/Reader-Regular.svg#ReaderRegular') format('svg');
}

/* End Custom Fonts CSS */